@{
    ViewData["Title"] = "Política de Privacidade";
}

<h1>@ViewData["Title"]</h1>

<p>A sua privacidade é importante para nós. É nossa política respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site <strong>BookSphere</strong>, e outros sites que possuímos e operamos.</p>

<h3>Informações que coletamos</h3>
<p>Coletamos informações pessoais como nome, e-mail, e informações de navegação, como cookies, para proporcionar uma experiência personalizada e melhorar os nossos serviços. A coleta dessas informações ocorre apenas quando o usuário fornece voluntariamente, como ao criar uma conta ou fazer login.</p>

<h3>Como usamos suas informações</h3>
<p>As informações que coletamos podem ser usadas para:</p>
<ul>
    <li>Fornecer serviços personalizados e adaptados às suas preferências;</li>
    <li>Melhorar nosso site e a experiência do usuário;</li>
    <li>Comunicarmos com você, como para responder a perguntas e enviar atualizações sobre a plataforma;</li>
    <li>Processar transações e fornecer suporte ao cliente;</li>
    <li>Enviar e-mails promocionais sobre novos livros, atualizações e ofertas especiais, caso tenha concordado com o recebimento de tais informações.</li>
</ul>

<h3>Cookies</h3>
<p>Utilizamos cookies para melhorar a experiência de navegação. Os cookies são pequenos arquivos armazenados no seu computador, usados para identificar sua sessão e preferências. Você pode optar por desabilitar os cookies nas configurações do seu navegador, mas isso pode afetar a funcionalidade do nosso site.</p>

<h3>Compartilhamento de Informações</h3>
<p>Não vendemos, trocamos ou alugamos suas informações pessoais a terceiros. Podemos compartilhar informações com terceiros quando necessário para melhorar os serviços oferecidos, como com provedores de serviços de hospedagem ou análise de dados, mas apenas sob condições de proteção de dados adequadas.</p>

<h3>Segurança</h3>
<p>Tomamos medidas razoáveis para proteger as informações pessoais que coletamos. No entanto, nenhuma transmissão de dados pela Internet ou armazenamento eletrônico é completamente seguro. Não podemos garantir a segurança total das suas informações.</p>

<h3>Alterações na Política de Privacidade</h3>
<p>Reservamo-nos o direito de modificar esta Política de Privacidade a qualquer momento. Alterações serão publicadas nesta página e entraremos em contato com os usuários, quando apropriado.</p>

<h3>Contato</h3>
<p>Se você tiver dúvidas sobre nossa Política de Privacidade, entre em contato conosco pelo e-mail: <a href="mailto:support@booksphere.com">support@booksphere.com</a>.</p>
